body {
    margin: 0;
    position: absolute;
}

@media only screen and (max-width: 480px){
    html, body{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
    }
}


.Header {
    background-color: black;
    padding: 10px;
    color: aqua;
    font-style: italic;
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 0fr 6fr 1fr;
    column-gap: 5px;
}


.Topnav {
    background-color: black;
}


.Topnav a {
    color: red;
    padding: 12px 12px;
    text-decoration-line: underline red;
}


.Topnav a:hover {
    background-color: antiquewhite;
}


.Middle {
    padding: 0;
    width: 100vw;
    height: 500vh;
    background-color: rgb(44, 63, 158);
}


.Footer {
    background-color: black;
    padding: 10px;
    color: red;
    text-align: center;
}






